body{
    background-image:radial-gradient(circle,rgb(255, 96, 96),rgb(255, 176, 31),rgb(255, 255, 105),lightgreen,rgb(113, 220, 255),violet);
}
.heading{
    font-size: 40px;
    width:100%;
    margin:0;
    background-color: rgb(173, 86, 255);
    color:white;
    height:50px;
    text-align: center;
}
